!!! 5
%html
  %head
    %title Let the koala eat some eucalyptus
    = stylesheet_link_tag 'bootstrap.min'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'bootstrap-typeahead'
    = javascript_include_tag 'application'
    = yield(:more_head)
    = csrf_meta_tag

  %body
    %header
      .navbar.navbar-fiexd-top
        .navbar-inner
          .container
            %a.btn.btn-navbar{:'data-toggle' => 'collapse', :'data-target' => '.nav-col'}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => '/'}
              Eucalyptus
            .nav-collapse
              %ul.nav
                %li
                  %a{:href => '/about'} About
                %li
              %form.navbar-search.pull-left
                %input.search-query{:type => :search, :placeholder => 'search for your friend', :'data-items' => 4, :'data-source' => @friends.to_json}
            .pull-right 
              = facebook_login_button('large')
              
    .container
      #header
        %h1 
          = yield(:title)
      #content
        #fb-root
        = yield
:javascript
  window.fbAsyncInit = function() {
    FB.init({appId: #{FACEBOOK_APP_ID}, status: true, cookie: true, xfbml: true});
  };